@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-2 py-3">
    <div class="row align-items-center g-5 py-5">
        <div class="col-6 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Blog - The Dev Blogs
            </h1>
            <p class="lead">
                Explore the latest trends and techniques in programming with our insightful blog posts.
                From beginner-friendly tutorials to in-depth analyses of cutting-edge technologies,
                we've got you covered on your journey to becoming a coding whiz!
            </p>
        </div>

        <div class="col-6 col-lg-6">
            <img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="The Dev Blogs"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

